.body_background 
{
    background-image: url("https://media.istockphoto.com/vectors/superhero-woman-in-flight-attractive-young-caucasian-woman-wearing-vector-id916664406?k=6&m=916664406&s=612x612&w=0&h=QdrtncgVj_NMVT66L4bolFrlsy5Wj_CbbW5cd7rpLIc=");
    background-position: center;
    background-size: cover;
}
#myCanvas
{
    border-width:10px;
    background-color: white; 
    border-style:ridge;
}

h2
{
	border-radius: 10px;
	width: 200px;
	padding: 5px;
 }
h3
{
	display: inline-block;
}
span
{
	color: black;	
}
a
{
	text-decoration: none;
	font-size: 20px;
	padding: 10px;
    float: left;
    border-radius: 10px;
}
#head_info
{
	width: 600px;
	border-radius: 10px;
	margin-bottom: 10px;
}
